<main class="main-content">
    <header class="header-main-content">
        <h1>Livros</h1> 
        <button class="adicionar" routerLink="/adicionar">Adicionar um novo livro</button>
    </header>
    <table>
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Number Pages</th>
                <th>Copies Available</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr id="renderResults" *ngFor="let livro of livros.result;">
                <td>{{livro.isbn}}</td>
                <td>{{livro.book_name}}</td>
                <td>{{livro.copies_available}}</td>
                <td>{{livro.author}}</td>
                <td>{{livro.number_pages}}</td>
                <td><button (click)="getLivroUnico(livro.isbn)" routerLink="/adicionar">Editar</button></td>
            </tr>
        </tbody>
    </table>
</main>